.challengeContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    min-height: 80%;
}

.SelectableElement{
    opacity: 1;
}

.SelectableElement :hover{
    opacity: 0.6;
}

.toggeledImage{
    border: solid #0055ff 3px !important;
    opacity: 0.5;
}
